[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
langchain = "*"
html2text = "*"
gpt_index = "*"

[dev-packages]

[requires]
python_version = "3.8"
